<h1>Results page</h1>

<ul>
    <% movies.forEach(function(movie) { %>
        <li><strong><%= movie.Title %></strong> - <%= movie.Year %></li>
    <% }); %>
</ul>

<a href="/search">Search again!</a>