<% include partials/header %>

<h1>You fell in love with: <%= thing.toUpperCase() %></h1>

<% if (thing.toLowerCase() === "luca") { %>
    <p>Good choice! Luca is the best :)</p>
<% } else { %>
    <p>Bad choice! You should have said Luca!</p>
<% } %>

<p>This is coming from love.ejs!</p>

<% include partials/footer %>