body {
    font-size: 10px;
}

p {
    font-family: "Raleway";
}

h1 {
    font-family: "Indie Flower";
    font-size: 5em;
    text-align: right;
    text-decoration: line-through;
}

p {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    text-decoration: underline;
}

span {
    font-size: 2em;
}